<%= form_with id: 'new-idea', model: [order, idea], data: { remote: true } do |form| %>
  <% if idea.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(idea.errors.count, "error evit칩", "errores evitaron") %> guardar esta idea fuerza:</h2>
      <hr>
      <ul class="mb-0">
        <% idea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :content, class: 'form-control', required: true %>
    <div class="form-text">Dos palabras como m치ximo que pueden sumar hasta 30 caracteres.</div>
  </div>

  <div>
    <%= form.submit 'A침adir idea fuerza', class: 'btn btn-primary mt-2', data: { disable_with: 'A침adiendo...' } %>
  </div>
<% end %>
