<%= form_with model: [order, idea], method: :post, id: 'new_idea' do |form| %>
  <% if idea.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(idea.errors[:content].count, "error") %> evitaron guardar esta orden:</h2>
      <hr>
      <ul>
        <% idea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :content, class: 'form-control', required: true %>
    <div class="form-text">Dos palabras como máximo que pueden sumar hasta 30 caracteres.</div>
  </div>

  <div>
    <%= form.submit 'Añadir idea fuerza', data: { disable_with: false }, class: 'btn btn-primary mt-2' %>
  </div>
<% end %>