<%= form_with(model: admin_session, url: admin_session_path, class: 'w-100 text-center', html: { style: 'max-width: 330px;' }) do |form| %>
	<% if admin_session.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(admin_session.errors.count, "error") %> evitó iniciar sesión:</h2>
			<ul>
				<% admin_session.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<h1 class="h3 mb-3 fw-normal">Inicia sesión</h1>
	<div class="form-floating">
		<%= form.text_field :tag, class: 'form-control', placeholder: 'Tag' %>
		<%= form.label :tag, 'Usuario' %>
	</div>
	<div class="form-floating">
		<%= form.password_field :password, class: 'form-control', placeholder: 'Password' %>
		<%= form.label :password, 'Contraseña' %>
	</div>
	<%= form.submit 'Iniciar sesión', class: 'w-100 btn btn-lg btn-primary mt-3'%>
	<p class="mt-5 mb-3 text-muted">© SocialSpots.Net 2022</p>
<% end %>
