<%= render 'admin/header' %>

<main class="container px-4">
  <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible fade show">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="card">
    <h1 class="card-header h3">Órdenes</h1>
    <div class="card-body">
      <% if @orders.empty? %>
        <div class="alert alert-primary mb-0">
          No hay datos disponibles.
          <hr>
          Las órdenes son creadas automáticamente cuando un cliente realiza un pago.
        </div>
      <% else %>
        <div class="row gy-3">
          <% @orders.each do |order| %>
            <div class="col-12">
              <div class="card">
                <%= link_to [:admin, order], class: 'card-body text-decoration-none' do %>
                  <div class="card-title d-flex align-items-center">
                    #<%= order.checkout_code %>
                    <span class="d-inline-block mx-2 badge rounded-pill bg-primary">Confirmada</span>
                  </div>
                  <div class="card-subtitle text-muted"><i class="fas fa-user-alt"></i> <%= order.customer_email %>
                  </div>
                  <div class="card-text text-muted">
                    <i class="fas fa-calendar"></i> Hace <%= distance_of_time_in_words(Time.now, order.sold_at.change(zone: 'America/Lima')) %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= render 'admin/footer' %>
