<%= render 'admin/header' %>

<main class="container p-4">
  <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible fade show">
      <%= notice %>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <h1>Orden #<%= @order.checkout_code %></h1>

  <p>A las <strong><%= @order.sold_at.change(zone: 'America/Lima').strftime('%Y/%m/%d - %H:%M') %></strong></p>

  <div class="card">
    <h2 class="card-header h5">Cliente</h2>
    <div class="card-body">
      <p class="card-text"><strong>Nombres y Apellidos:</strong> <%= @order.customer_first_name %> <%= @order.customer_last_name %></p>
      <p class="card-text"><strong>Correo:</strong> <%= @order.customer_email %></p>
    </div>
  </div>

  <br>

  <div class="card">
    <h2 class="card-header h5">Producto</h2>
    <div class="card-body">
      <p class="card-text"><%= link_to @order.product.name, [:admin, @order.product], class: 'text-decoration-none' %></p>
      <div class="ratio ratio-16x9">
        <%= @order.product.preview_html.html_safe %>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <h2 class="card-header h5">Formato</h2>
    <div class="card-body">
      <p class="card-text"><%= @order.format.titlecase %></p>
    </div>
  </div>

  <br>

  <div class="card">
    <h2 class="card-header h5">Metraje</h2>
    <div class="card-body">
      <p class="card-text"><%= @order.length %> segundos</p>
    </div>
  </div>

  <br>

  <div class="card">
    <h2 class="card-header h5">Pago</h2>
    <div class="card-body">
      <p class="card-text"><strong>Método:</strong> <%= @order.payment_method %></p>
      <p class="card-text"><strong>Comisión de 2Checkout:</strong> <%= number_to_currency @order.checkout_commission %></p>
      <p class="card-text"><strong>Total:</strong> <%= number_to_currency @order.total %></p>
    </div>
  </div>
</main>


