<%= render 'admin/header' %>

<main class="container px-4">
  <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible fade show">
      <%= notice %>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <%= link_to '< Regresar', admin_orders_path, class: 'text-decoration-none' %>

  <h1>Orden #<%= @order.checkout_code %></h1>

  <p>A las <strong><%= @order.created_at.in_time_zone('America/Lima').strftime('%Y/%m/%d - %H:%M') %></strong></p>

  <div class="card">
    <h2 class="card-header h5">Cliente</h2>
    <div class="card-body">
      <p class="card-text"><strong>Nombres y Apellidos:</strong> <%= @order.customer_first_name %> <%= @order.customer_last_name %></p>
      <p class="card-text"><strong>Correo:</strong> <%= mail_to @order.customer_email %></p>
    </div>
  </div>

  <br>

  <div class="card">
    <h2 class="card-header h5">Producto</h2>
    <div class="card-body">
      <p class="card-text"><%= link_to @order.product.name, [:admin, @order.product], class: 'text-decoration-none' %></p>
      <div class="ratio ratio-16x9">
        <%= @order.product.preview_html.html_safe %>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <h2 class="card-header h5">Formato</h2>
    <div class="card-body">
      <p class="card-text"><%= @order.format.titlecase %></p>
    </div>
  </div>

  <br>

  <div class="card">
    <h2 class="card-header h5">Metraje</h2>
    <div class="card-body">
      <p class="card-text"><%= @order.length %> segundos</p>
    </div>
  </div>

  <br>

  <div class="card">
    <h2 class="card-header h5">Pago</h2>
    <div class="card-body">
      <p class="card-text"><strong>Método:</strong> <%= @order.payment_method %></p>
      <p class="card-text"><strong>Comisión de 2Checkout:</strong> <%= number_to_currency @order.checkout_commission %></p>
      <p class="card-text"><strong>Total:</strong> <%= number_to_currency @order.total %></p>
    </div>
  </div>

  <br>

  <div class="card">
    <h2 class="card-header h5">Videos</h2>

    <div class="card-body border-bottom">
      <%= form_with url: order_attachments_path(@order.id), method: :post do |form| %>
        <% if @order.errors[:assets].any? %>
          <div class="alert alert-danger" role="alert">
            <h2><%= pluralize(@order.errors.count, "error") %> evitaron guardar esta orden:</h2>
            <hr>
            <ul>
              <% @order.errors[:assets].each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.file_field :assets, class: 'form-control', required: true, accept: 'video/mp4' %>
          <div class="form-text">Cada video puede durar 10 segundos como máximo. Además, debe tener dimensiones de 1920x1080 y pesar como máximo 50 MB.</div>
        </div>

        <div>
          <%= form.submit 'Añadir video', class: 'btn btn-primary mt-2' %>
        </div>
      <% end %>
    </div>

    <div class="card-body">
      <div class="row grid g-3" data-masonry='{"percentPosition": true}'>
        <% if @order.assets.filter(&:persisted?).empty? %>
        <div>La orden no tiene videos adjuntados.</div>
        <% else %>
          <% @order.assets.filter(&:persisted?).each do |asset| %>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div role="button" data-bs-toggle="modal" data-bs-target="#modal-<%= asset.id %>">
                <%= image_tag polymorphic_url(asset.preview(resize: [100, 100]).processed.image, { only_path: true }), class: 'img-thumbnail img-fluid' %>
                <div class="text-center"><strong><%= asset.filename %></strong></div>
                <div class="text-center text-secondary"><%= asset.metadata[:width].round %>x<%= asset.metadata[:height].round %> • <%= number_to_human_size asset.blob.byte_size %> | <%= ActiveSupport::Duration.build(asset.metadata[:duration].round).inspect %></div>
              </div>

              <div class="modal fade" id="modal-<%= asset.id %>" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><%= asset.filename %></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                      <div class="d-flex justify-content-end mb-3">
                        <%= link_to 'Borrar', attachment_path(asset.id), method: :delete, data: { confirm: '¿Estás seguro de borrar este video?' }, class: 'text-decoration-none link-danger me-3' %>
                        <%= link_to 'Descargar', rails_blob_path(asset, disposition: 'attachment'), class: 'text-decoration-none link-primary' %>
                      </div>

                      <video id="playback-<%= asset.id %>" controls preload="auto" style="width: 100%; height: 100%;">
                        <source src=<%= rails_blob_path asset %> type="video/mp4">
                      </video>
                    </div>

                    <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                    </div>
                  </div>
                </div>
              </div>
              <script>
                  document.getElementById('modal-<%= asset.id %>').addEventListener('hidden.bs.modal', (event) => {
                          const video = document.getElementById('playback-<%= asset.id %>')

                          setTimeout(() => video.pause(), 250)
                      }
                  )
              </script>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-header h5">Fotos</div>

    <div class="card-body border-bottom">
      <%= form_with url: order_photos_path(@order.id), method: :post do |form| %>
        <% if @order.errors[:photos].any? %>
          <div class="alert alert-danger" role="alert">
            <h2><%= pluralize(@order.errors.count, "error") %> evitaron guardar esta orden:</h2>
            <hr>
            <ul>
              <% @order.errors[:photos].each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.file_field :photos, class: 'form-control', required: true, accept: 'image/jpeg,image/png' %>
          <div class="form-text">Cada foto debe tener dimensiones de 1920x1080 como mínimo y pesar como máximo 5 MB.</div>
        </div>

        <div>
          <%= form.submit 'Añadir imagen', class: 'btn btn-primary mt-2' %>
        </div>
      <% end %>
    </div>

    <div class="card-body">
      <% if @order.photos.filter(&:persisted?).empty? %>
      <div>La orden no tiene fotos disponibles.</div>
      <% else %>
        <div class="row grid g-3" data-masonry='{"percentPosition": true}'>
          <% @order.photos.filter(&:persisted?).each do |photo| %>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div role="button" data-bs-toggle="modal" data-bs-target="#modal-<%= photo.id %>">
                <%= image_tag photo, class: 'img-thumbnail img-fluid' %>
                <div class="text-center"><strong><%= photo.filename %></strong></div>
                <div class="text-center text-secondary"><%= photo.metadata[:width].round %>x<%= photo.metadata[:height].round %> • <%= number_to_human_size photo.blob.byte_size %></div>
              </div>

              <div class="modal fade" id="modal-<%= photo.id %>" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><%= photo.filename %></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="d-flex justify-content-end mb-3">
                        <%= link_to 'Borrar', photo_path(photo.id), method: :delete, data: { confirm: '¿Estás seguro de borrar esta foto?' }, class: 'text-decoration-none link-danger me-3' %>
                        <%= link_to 'Descargar', rails_blob_path(photo, disposition: 'attachment'), class: 'text-decoration-none link-primary' %>
                      </div>
                      <%= image_tag photo, class: 'img-thumbnail img-fluid' %>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-header h5">Fuentes (Tipos de letra)</div>
    <div class="card-body">
      <%= form_with url: order_fonts_path(@order.id), method: :post do |form| %>
        <% if @order.errors[:fonts].any? %>
          <div class="alert alert-danger" role="alert">
            <h2><%= pluralize(@order.errors.count, "error") %> evitaron guardar esta orden:</h2>
            <hr>
            <ul>
              <% @order.errors[:fonts].each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.file_field :fonts, class: 'form-control', required: true, accept: 'application/zip' %>
          <div class="form-text">Cada fuente debe estar en formato ZIP y pesar 10 MB como máximo.</div>
        </div>

        <div>
          <%= form.submit 'Añadir fuente', class: 'btn btn-primary mt-2' %>
        </div>
      <% end %>
    </div>

    <% if @order.fonts.filter(&:persisted?).empty? %>
      <div class="card-body">La orden no tiene fuentes disponibles.</div>
    <% else %>
      <ul class="list-group list-group-flush">
        <% @order.fonts.filter(&:persisted?).each do |font| %>
          <li class="list-group-item">
            <div class="d-flex flex-column flex-md-row justify-content-md-between">
              <div class="overflow-hidden" style="white-space: nowrap; text-overflow: ellipsis;"><%= font.filename %></div>
              <div>
                <%= link_to 'Borrar', font_path(font.id), method: :delete, data: { confirm: '¿Estás seguro de borrar esta fuente?' }, class: 'text-decoration-none link-danger me-3' %>
                <%= link_to 'Descargar', rails_blob_path(font, disposition: 'attachment'), class: 'text-decoration-none link-primary' %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <br>

  <div class="card">
    <div class="card-header h5">Ideas fuerza</div>
    <div class="card-body">
      <%= form_with model: [@order, @order.ideas.new], method: :post do |form| %>
        <% if @order.errors[:ideas].any? %>
          <div class="alert alert-danger" role="alert">
            <h2><%= pluralize(@order.errors.count, "error") %> evitaron guardar esta orden:</h2>
            <hr>
            <ul>
              <% @order.errors[:ideas].each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.text_field :content, class: 'form-control', required: true %>
          <div class="form-text">Dos palabras como máximo que pueden sumar hasta 30 caracteres.</div>
        </div>

        <div>
          <%= form.submit 'Añadir idea fuerza', class: 'btn btn-primary mt-2' %>
        </div>
      <% end %>
    </div>

    <% if @order.ideas.filter(&:persisted?).empty? %>
      <div class="card-body">La orden no tiene ideas fuerza disponibles.</div>
    <% else %>
      <ul class="list-group list-group-flush">
        <% @order.ideas.filter(&:persisted?).each do |idea| %>
          <li class="list-group-item">
            <div class="d-flex flex-column flex-md-row justify-content-md-between">
              <div class="overflow-hidden" style="white-space: nowrap; text-overflow: ellipsis;"><%= idea.content %></div>
              <div>
                <%= link_to 'Borrar', idea, method: :delete, data: { confirm: '¿Estás seguro de borrar esta fuente?' }, class: 'text-decoration-none link-danger me-3' %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</main>

<%= render 'admin/footer' %>

<script>
    var grid = $('.grid').masonry()

    grid.imagesLoaded().progress(() => {
        grid.masonry('layout')
    })
</script>