<%= form_with id: 'new_phrase', model: [order, phrase], method: :post do |form| %>
  <% if phrase.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(phrase.errors[:content].count, "error evitó", "errores evitaron") %> guardar esta frase:</h2>
      <hr>
      <ul class="mb-0">
        <% phrase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :content, class: 'form-control', required: true %>
    <div class="form-text">Frase corta que demuestra la competencia, características, virtudes, fortalezas, objetivos o promociones que desean presentarse en el video. Esta frase se puede dividir a lo largo del video. Máximo 80 caracteres.</div>
  </div>

  <div>
    <%= form.submit 'Añadir frase comercial', class: 'btn btn-primary mt-2' %>
  </div>
<% end %>