<div id="<%= dom_id video %>" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2" data-empty-state-target="item">
  <div role="button" data-bs-toggle="modal" data-bs-target="#video-preview-<%= dom_id video %>">
    <%= image_tag video.preview(resize_to_limit: [100, 100]).processed.image, class: 'img-thumbnail img-fluid' %>
    <div class="text-center"><strong><%= video.filename %></strong></div>
    <div class="text-center text-secondary">
      <%= video.metadata[:width].round %>x<%= video.metadata[:height].round %> • <%= number_to_human_size video.blob.byte_size %> | <%= ActiveSupport::Duration.build(video.metadata[:duration].round).inspect %>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <%= button_to 'Borrar', video_path(video.id), method: :delete, data: { confirm: '¿Estás seguro de borrar este video?' }, class: 'btn btn-link text-decoration-none link-danger me-2' %>
    <%= link_to 'Descargar', rails_blob_path(video, disposition: 'attachment'), class: 'text-decoration-none link-primary' %>
  </div>

  <div id="video-preview-<%= dom_id video %>" data-controller="video-preview" class="modal fade" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= video.filename %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <video controls preload="auto" style="width: 100%; height: 100%;">
            <source id="video-preview-modal-src" src="<%= rails_blob_path video %>" type="video/mp4">
          </video>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>

