<p id="notice"><%= notice %></p>

<h1>Assets</h1>

<%= form_with url: "/orders/#{@order.id}/assets", method: :post do |form| %>
  <div class="form-group">
    <%= form.label :videos %>
    <%= form.file_field :videos, class: 'form-control-file' %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary mt-3' %>
  </div>
<% end %>

<% @assets.each do |asset| %>
  <video controls preload="auto">
    <source src=<%= rails_blob_path asset %> type="video/mp4">
  </video>
<% end %>

<%#= link_to 'New Asset', new_asset_path %>
