<div class="min-vh-100 d-flex flex-column" style="background-image: url(<%= image_path "bg.svg"%>); background-position: center; background-attachment: fixed; background-size: cover;">
	<%= render 'application/header' %>
	<main class="flex-grow-1 d-flex justify-content-center align-items-center container">
		<div class='row justify-content-center align-items-center my-5'>
			<div class='col-12 d-flex justify-content-center mb-3'>
				<%= link_to 'javascript:history.back()', class: 'btn btn-dark' do %>
					Regresar
				<% end %>
			</div>
			<div class='col-12 mb-3'>
				<h1 class='text-center mb-0'style='font-family: EuroStile'>
					Escoge la duración de tu videospot
				</h1>
			</div>
			<div class='col d-flex justify-content-center mb-5 mb-lg-0'>
				<div class='card shadow-xxl w-100 rounded-top-left-8 rounded-bottom-right-8 px-4 py-5 border-0' style="max-width: 350px; background-image: url(<%= image_path "gradient-1.svg"%>); background-position: center; background-size: cover;">
					<div class='d-flex flex-column text-center text-light mb-4'>
						<span class='text-shadow-strong' style='font-family: "EuroStile-Bold"; font-size: 140px; line-height: 140px'>15</span>
						<span class='text-shadow-strong' style='font-family: "EuroStile"; font-size: 100px; line-height: 100px'>SEG</span>
					</div>
					<span class='text-center mb-5' style='font-family: "EuroStile-Bold"; font-size: 80px; line-height: 80px'>$20</span>
					<div class='text-center'>
						<%= form_with url: "/orders/new", method: :get do |form| %>
							<%= form.hidden_field :product_id, value: params[:product_id] %>
							<%= form.hidden_field :length, value: '15' %>
							<%= form.submit 'Comprar', class: 'btn btn-dark btn-lg', data: { turbo: false } %>
						<% end %>
					</div>
				</div>
			</div>
			<div class='col d-flex justify-content-center'>
				<div class='card shadow-xxl w-100 rounded-top-left-8 rounded-bottom-right-8 px-4 py-5 border-0' style="max-width: 350px; background-image: url(<%= image_path "gradient-2.svg"%>); background-position: center; background-size: cover;">
					<div class='d-flex flex-column text-center text-light mb-4'>
						<span class='text-shadow-strong' style='font-family: "EuroStile-Bold"; font-size: 140px; line-height: 140px'>30</span>
						<span class='text-shadow-strong' style='font-family: "EuroStile"; font-size: 100px; line-height: 100px'>SEG</span>
					</div>
					<span class='text-center mb-5' style='font-family: "EuroStile-Bold"; font-size: 80px; line-height: 80px'>$50</span>
					<div class='text-center'>
						<%= form_with url: "/orders/new", method: :get do |form| %>
							<%= form.hidden_field :product_id, value: params[:product_id] %>
							<%= form.hidden_field :length, value: '30' %>
							<%= form.submit 'Comprar', class: 'btn btn-dark btn-lg', data: { turbo: false } %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</main>
	<%= render 'application/footer' %>
</div>
