<%= render 'application/header' %>

<main class="container my-3">
  <div class="row mb-3">
    <div class="col col-12 col-lg-9 col-xl-10 mx-auto">
      <div class="shadow rounded p-3">
        <h1 class="fs-3">Detalles de la plantilla</h1>

        <%= form_with model: CheckoutLink.new do |form| %>
          <%= form.hidden_field :product_id, value: params[:product_id] %>

          <div class="mb-3">
            <%= form.label :length, 'Metraje', class: 'form-label' %>
            <%= form.select :length, [['15 segundos (USD $20)', 15], ['30 segundos (USD $30)', 30], ['60 segundos (USD $40)', 60]], { include_blank: 'Selecciona un metraje' }, class: 'form-select', required: true %>
          </div>

          <div class="mb-3">
            <%= form.label :format, 'Formato', class: 'form-label' %>
            <%= form.select :format, [['Horizontal', 'horizontal'], ['Vertical', 'vertical'], ['Cuadrado', 'square']], { include_blank: 'Selecciona un formato' }, class: 'form-select', required: true %>
          </div>

          <%= form.submit 'Ir al checkout', class: 'btn btn-outline-primary w-100', data: { turbo: false } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-12 col-lg-9 col-xl-10 mx-auto">
        <% product = @product %>

        <div class="card" role="button" data-bs-toggle="modal" data-bs-target="#modal-<%= product.checkout_code %>" data-empty-state-target="item">
          <div class="card-body">
            <h5 class="card-title text-center mb-0"><%= product.name %></h5>
          </div>
          <img class="img-fluid" src="https://vumbnail.com/<%= product.vimeo_url.split('/').last %>.jpg">
        </div>

        <div class="modal fade" id="modal-<%= product.checkout_code %>" data-product="<%= product.checkout_code %>" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><%= product.name %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <% video = Nokogiri::HTML product.preview_html.html_safe %>
                <% width = video.at('iframe')['width'] %>
                <% height = video.at('iframe')['height'] %>
                <% ratio = width == height ? '1x1' : '16x9' %>

                <div class="ratio ratio-<%= ratio %>">
                  <%= product.preview_html.html_safe %>
                </div>

                <br>

                <p class="mb-0"><%= product.description %></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-lg w-100" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
              </div>
            </div>
          </div>
        </div>

        <script>
            document.getElementById('modal-<%= product.checkout_code %>').addEventListener('hidden.bs.modal', (event) => {
                    const iframe = document.getElementById('preview-<%= product.checkout_code %>')

                    iframe.src = iframe.src
                }
            )
        </script>
    </div>
  </div>
</main>

<%= render 'application/footer' %>

