<main class="container p-4">
  <h1 class="text-center">Carga de recursos para la orden #<%= @order.id %></h1>

  <p class="text-center">A las <strong><%= @order.created_at.in_time_zone('America/Lima').strftime('%Y/%m/%d - %H:%M') %></strong></p>

  <p class="text-center">Lee cuidadosamente las instrucciones para la carga de tu material.</p>

  <div class="card">
    <h2 class="card-header h5">Videos</h2>

    <div class="card-body border-bottom">
      <%= render partial: 'videos/form', locals: { order: @order } %>
    </div>

    <div class="card-body">
      <div data-controller="empty-state">
        <div data-empty-state-target="emptyState">La orden no tiene videos disponibles.</div>

        <div id="all-videos" class="row" data-controller="masonry">
          <%= render partial: 'videos/video', collection: @order.videos.filter(&:persisted?) %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-header h5">Fotos</div>

    <div class="card-body border-bottom">
      <%= render partial: 'photos/form', locals: { order: @order } %>
    </div>

    <div class="card-body">
      <div data-controller="empty-state">
        <div data-empty-state-target="emptyState">La orden no tiene fotos disponibles.</div>

        <div id="all-photos" class="row" data-controller="masonry">
          <%= render partial: 'photos/photo', collection: @order.photos.filter(&:persisted?) %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-header h5">Locuciones</div>

    <div class="card-body">
      <%= render partial: 'locutions/form', locals: { order: @order } %>
    </div>

    <div class="card-body border-top" data-controller="empty-state">
      <div data-empty-state-target="emptyState">La orden no tiene locuciones disponibles.</div>

      <div id="all-locutions" class="row">
        <%= render partial: 'locutions/locution', collection: @order.locutions.filter(&:persisted?) %>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-header h5">Fuentes (Tipos de letra)</div>

    <div class="card-body">
      <%= render partial: 'fonts/form', locals: { order: @order } %>
    </div>

    <div class="border-top" data-controller="empty-state">
      <div class="card-body" data-empty-state-target="emptyState">La orden no tiene fuentes disponibles.</div>

      <ul id="all-fonts" class="list-group list-group-flush">
        <%= render partial: 'fonts/font', collection: @order.fonts.filter(&:persisted?) %>
      </ul>
    </div>
  </div>

  <br>

  <% @idea = @order.ideas.new unless @idea.present? %>

  <div class="card">
    <div class="card-header h5">Ideas fuerza</div>

    <div class="card-body">
      <%= render partial: 'ideas/form', locals: { order: @order, idea: @idea } %>
    </div>

    <div class="border-top" data-controller="empty-state">
      <div class="card-body" data-empty-state-target="emptyState">La orden no tiene ideas fuerza disponibles.</div>

      <ul id="all-ideas" class="list-group list-group-flush">
        <%= render partial: 'ideas/idea', collection: @order.ideas.filter(&:persisted?) %>
      </ul>
    </div>
  </div>

  <br>

  <turbo-frame id="phrases" src="<%= order_phrases_path(@order) %>"></turbo-frame>
</main>