<%= form_with id: 'new-locution', model: [order, locution], data: { remote: true } do |form| %>
  <% if locution.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(locution.errors[:content].count, "error evitó", "errores evitaron") %> guardar esta locución:</h2>
      <hr>
      <ul class="mb-0">
        <% locution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :content, size: '20x4', class: 'form-control', required: true %>
    <div class="form-text ">Guión de la locución (validaciones pendientes).</div>
  </div>

  <div>
    <%= form.submit 'Añadir locución', class: 'btn btn-primary mt-2', data: { disable_with: 'Añadiendo...' } %>
  </div>
<% end %>