<div id="<%= dom_id locution %>" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2" data-empty-state-target="item">
  <div>
    <audio controls style="max-width: 100%;">
      <source src="<%= rails_blob_path locution %>">
    </audio>
    <div class="text-center"><strong><%= locution.filename %></strong></div>
    <div class="text-center text-secondary"><%= number_to_human_size locution.blob.byte_size %></div>
    <div class="d-flex justify-content-center align-items-center">
      <%= button_to 'Borrar', locution_path(locution.id), method: :delete, remote: true, data: { confirm: '¿Estás seguro de borrar esta locución?' }, class: 'btn btn-link text-decoration-none link-danger me-3' %>
      <%= link_to 'Descargar', rails_blob_path(locution, disposition: 'attachment'), class: 'text-decoration-none link-primary' %>
    </div>
  </div>
</div>