<%= form_with model: [:admin, category] do |form| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h4>Hubieron errores guardando esta categoría:</h4>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <hr>
      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :name, 'Nombre', class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-2">
    <%= form.label :description, 'Descripción', class: 'form-label' %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary mt-3' %>
<% end %>
