<%= render 'admin/header' %>

<main class="container p-4">
  <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible fade show">
      <%= notice %> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div>
    <%= link_to 'Crear Categoría', new_admin_category_path, class: 'btn btn-primary' %>
  </div>

  <br>

  <div class="card">
    <h1 class="card-header h3">Categorías</h1>

    <div class="card-body">
      <% @categories.each do |category| %>
        <%= link_to [:admin, category], class: 'card text-decoration-none' do %>
          <div class="card-body">
            <%= category.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
