<%= render 'admin/header' %>

<main class="container p-4">
  <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible fade show">
      <%= notice %> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div>
    <%= link_to 'Crear Categoría', new_admin_category_path, class: 'btn btn-primary' %>
  </div>

  <br>

  <div class="card">
    <h1 class="card-header h3">Categorías</h1>
      <div class="card-body">
        <% if @categories.empty? %>
          <div class="alert alert-primary mb-0">
            No hay datos disponibles.
            <hr>
            Crea una categoría.
          </div>
        <% else %>
          <div class="row gy-3">
            <% @categories.each do |category| %>
              <div class="col-12">
                <%= link_to [:admin, category], class: 'card text-decoration-none' do %>
                  <div class="card-body">
                    <%= category.name %>
                    <div class="text-muted"><%= category.description %></div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
</main>
