<%= render 'admin/header' %>

<main class="container px-4">
  <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible fade show">
      <%= notice %> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="mb-2">
    <%= link_to '< Regresar', admin_categories_path, class: 'text-decoration-none' %>
  </div>

  <h1>Nueva Categoría</h1>

  <div class="card">
    <div class="card-body">
      <%= render 'form', category: @category %>
    </div>
  </div>
</main>

<%= render 'admin/footer' %>
