<%= form_with model: [:admin, product],  class: 'mt-3' do |form| %>
  <% if product.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h4>Hubieron errores guardando este producto:</h4>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <hr>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :vimeo_url, 'URL de Vimeo', class: 'form-label' %>
    <%= form.text_field :vimeo_url, class: 'form-control' %>
    <div class="form-text">
      Las URL de Vimeo tienen una estructura como <span class="fw-bolder">https://vimeo.com/video/XXXXXXXXX</span>.
    </div>
  </div>

  <%= form.submit class: 'btn btn-primary mt-3' %>
<% end %>
