<%= render 'admin/header' %>

<main class="container p-4">
  <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible fade show">
      <%= notice %> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div>
    <%= link_to 'Crear Producto', new_admin_product_path, class: 'btn btn-primary' %>
  </div>

  <br>

  <div class="card">
    <h1 class="card-header h3">Productos</h1>

    <div class="card-body">
      <% if @products.empty? %>
        <div class="alert alert-primary mb-0">
          No hay datos disponibles.
          <hr>
          Crea un producto.
        </div>
      <% else %>
        <% @products.each do |product| %>
          <%= link_to [:admin, product], class: 'card text-decoration-none' do %>
            <div class="card-body">
              <div class="card-title"><%= product.category_id? ? product.category.name : 'Sin categoría' %> | <%= product.name %></div>
              <div class="card-subtitle text-muted"><%= product.published ? 'Publicado' : 'No Publicado' %></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</main>