<%= render 'admin/header' %>

<main class="container px-4">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div class="mb-2">
    <%= link_to '< Regresar', admin_products_path, class: 'text-decoration-none' %>
  </div>

  <h1>Nuevo Producto</h1>

  <%= render 'form', product: @product %>
</main>

<%= render 'admin/footer' %>
