<%= render 'admin/header' %>

<main class="container p-4" >
  <div class="mb-4">
    <%= link_to '< Regresar', admin_products_path, class: 'text-decoration-none' %>
  </div>

  <% if notice %>
    <div id="notice" class="alert alert-success alert-dismissible">
      <%= notice %> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="card">
    <h1 class="card-header h3"><%= @product.name_in_database %></h1>
    <div class="card-body">
      <%= form_with model: @product, url: [:admin, @product] do |form| %>
        <% if @product.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <h2><%= pluralize(@product.errors.count, "error") %> evitaron guardar este producto:</h2>
            <hr>
            <ul>
              <% @product.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-2">
          <%= form.label :vimeo_url, 'URL de Vimeo', class: 'form-label' %>
          <%= form.text_field :vimeo_url, class: 'form-control', disabled: true %>
        </div>

        <div class="mb-2">
          <%= form.label :checkout_code, 'Código de 2Checkout', class: 'form-label' %>
          <%= form.text_field :checkout_code, class: 'form-control', disabled: true %>
        </div>

        <div class="mb-2">
          <%= form.label :name, 'Nombre', class: 'form-label' %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-2">
          <%= form.label :description, 'Descripción', class: 'form-label' %>
          <%= form.text_area :description, class: 'form-control', rows: 5 %>
        </div>

        <div class="mb-2">
          <%= form.label :category_id, 'Categoría', class: 'form-label' %>
          <%= form.select :category_id, Category.all.map { |category| [category.name, category.id] }, { prompt: 'Selecciona una categoría' }, class: 'form-select' %>
        </div>

        <div class="mb-2">
          <%= form.label :published, 'Publicado', class: 'form-label' %>
          <%= form.select :published, [['Sí', true], ['No', false]], {}, class: 'form-select' %>
        </div>

        <%= form.submit class: 'btn btn-primary mt-3' %>
      <% end %>
    </div>
    <div class="card-footer">
      <%= link_to 'Borrar producto', [:admin, @product], method: :delete, data: { confirm: '¿Estás seguro de borrar este producto?' }, class: 'text-decoration-none link-danger' %>
    </div>
  </div>

  <br>

  <div class="card">
    <h2 class="card-header h3">Prevista</h2>
    <div class="card-body">
      <% video = Nokogiri::HTML @product.preview_html.html_safe %>
      <% width = video.at('iframe')['width'] %>
      <% height = video.at('iframe')['height'] %>
      <% ratio = width == height ? '1x1' : '16x9' %>

      <div class="ratio ratio-<%= ratio %>">
        <%= @product.preview_html.html_safe %>
      </div>
    </div>
  </div>
</main>

