<%= form_with id: 'new_photo', url: order_photos_path(order), data: { remote: false } do |form| %>
  <% if order.errors[:photos].any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(order.errors.count, "error evitó", "erores evitaron") %> guardar esta foto:</h2>
      <hr>
      <ul class="mb-0">
        <% order.errors[:photos].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.file_field :photos, class: 'form-control', required: true, accept: 'image/jpeg,image/png', direct_upload: true, data: { controller: 'progress' } %>
    <div class="form-text">Cada foto debe tener dimensiones de 1920x1080 como mínimo y pesar como máximo 10 MB.</div>
  </div>

  <div>
    <%= form.submit 'Añadir imagen', class: 'btn btn-primary mt-2', data: { disable_with: 'Añadiendo...' } %>
  </div>
<% end %>