<div id="<%= dom_id photo %>" class="col-12 col-sm-6 col-md-4 col-lg-3" data-empty-state-target="item">
  <div role="button" data-bs-toggle="modal" data-bs-target="#modal-<%= photo.id %>">
    <%= image_tag photo, class: 'img-thumbnail img-fluid' %>
    <div class="text-center"><strong><%= photo.filename %></strong></div>
    <div class="text-center text-secondary"><%= photo.metadata[:width].round %>x<%= photo.metadata[:height].round %> • <%= number_to_human_size photo.blob.byte_size %></div>
  </div>

  <div class="modal fade" id="modal-<%= photo.id %>" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= photo.filename %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-end mb-3">
            <%= link_to 'Borrar', photo_path(photo.id), method: :delete, data: { confirm: '¿Estás seguro de borrar esta foto?' }, class: 'text-decoration-none link-danger me-3' %>
            <%= link_to 'Descargar', rails_blob_path(photo, disposition: 'attachment'), class: 'text-decoration-none link-primary' %>
          </div>
          <%= image_tag photo, class: 'img-thumbnail img-fluid' %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>