<header class="border-bottom">
  <!-- Default header -->
  <div class="container px-4 py-3 d-none d-md-block">
    <div class="row">
      <div class='col'>
        <%= link_to root_path, class: 'd-flex align-items-center justify-content-start link-dark text-decoration-none' do %>
          <%= image_tag "logo.png", height: 80, class: 'px-3' %>
        <% end %>
      </div>
      <div class='col d-flex justify-content-end align-items-center'>
        <ul class="nav">
          <li class="nav-item"><%= link_to 'Nosotros', root_path, class: "nav-link link-secondary", style: "#{params[:controller] == 'root' ? 'color: #29ABE2' : ''}" %></li>
          <li class="nav-item"><%= link_to 'Plantillas', products_path, class: "nav-link link-secondary", style: "#{params[:controller] == 'products' ? 'color: #29ABE2' : ''}" %></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Small header -->
  <div class="container px-4 py-3 d-md-none">
    <div class="d-flex justify-content-between align-items-center">

      <%= link_to root_path, class: 'd-flex align-items-center justify-content-start link-dark text-decoration-none' do %>
        <%= image_tag "logo.png", height: 40, class: 'pe-3' %>
      <% end %>

      <div class="py-2 ps-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
        <i class="fas fa-bars fa-lg"></i>
      </div>
    </div>
  </div>
</header>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas">
  <div class="offcanvas-header">
    <%= link_to root_path, class: 'd-flex align-items-center justify-content-start link-dark text-decoration-none' do %>
      <%= image_tag "logo.png", height: 40, class: 'px-3' %>
    <% end %>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body border-top d-flex flex-column justify-content-between">
   <div>
     <ul class="nav flex-column pb-3 mb-3 border-bottom">
      <li class="nav-item"><%= link_to 'Nosotros', root_path, class: "nav-link #{params[:controller] == 'root' ? 'link-primary' : 'link-secondary'}" %></li>
      <li class="nav-item"><%= link_to 'Plantillas', products_path, class: "nav-link #{params[:controller] == 'products' ? 'link-primary' : 'link-secondary'}" %></li>
    </ul>

    <span class="d-flex">
        <a href="#" class="nav-item nav-link text-dark text-decoration-none"><i class="fa fa-instagram fa-lg"></i></a>
        <a href="#" class="nav-item nav-link text-dark text-decoration-none"><i class="fa fa-facebook fa-lg"></i></a>
        <a href="#" class="nav-item nav-link text-dark text-decoration-none"><i class="fa fa-youtube fa-lg"></i></a>
        <a href="#" class="nav-item nav-link text-dark text-decoration-none"><i class="fa fa-whatsapp fa-lg"></i></a>
      </span>
   </div>

        <div>
        <ul class="ms-auto list-unstyled m-0 px-3 py-2">
    <li><%= link_to 'Guía del usuario', image_path('user-guide.pdf'), class: 'link-secondary text-decoration-none' %></li>
  </ul>
  <ul class="list-unstyled m-0 px-3 py-2">
    <li><%= link_to 'Términos de servicio', image_path('terms-of-service.pdf'), class: 'link-secondary text-decoration-none' %></li>
  </ul>
  <ul class="list-unstyled m-0 px-3 py-2">
    <li><%= link_to 'Política de privacidad', image_path('privacy-policy.pdf'), class: 'link-secondary text-decoration-none' %></li>
  </ul>
  <ul class="list-unstyled m-0 px-3 py-2">
    <li><%= link_to 'Administrador', admin_root_path, class: 'link-secondary text-decoration-none' %></li>
  </ul></div>


  </div>
</div>
