<div class="col col-12 col-sm-6 col-md-4 col-lg-3 my-3">
	<div class="card border-0 rounded-5 shadow-lg" role="button" data-bs-toggle="modal" data-bs-target="#modal-<%= product.checkout_code %>" data-empty-state-target="item">
		<div class="card-body">
			<img class="img-fluid rounded-5 mb-3" src="https://vumbnail.com/<%= product.vimeo_url.split('/').last %>.jpg">
			<h5 class="card-title mb-0 fw-bold text-center" style='font-family: monofur'><%= product.name %></h5>
		</div>
	</div>
	<div class="modal fade" id="modal-<%= product.checkout_code %>" data-product="<%= product.checkout_code %>" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content border-0" style='background-color: #A5BE3200'>
				<div class="modal-body">
					<% video = Nokogiri::HTML product.preview_html.html_safe %>
					<% width = video.at('iframe')['width'] %>
					<% height = video.at('iframe')['height'] %>
					<% ratio = width == height ? '1x1' : width > height ? '16x9' : '9x16' %>
					<div class="ratio ratio-<%= ratio %> mb-3">
						<%= product.preview_html.html_safe %>
					</div>
					<%= link_to 'Personalizar', new_order_path(params: { product_id: product.id }), class: 'btn btn-light btn-lg w-100' %>
				</div>
			</div>
		</div>
	</div>
	<script>
		document.getElementById('modal-<%= product.checkout_code %>').addEventListener('hidden.bs.modal', (event) => {
		        const iframe = document.getElementById('preview-<%= product.checkout_code %>')

		        iframe.src = iframe.src
		    }
		)
	</script>
</div>
