<div class="col-12 col-sm-6 col-md-4 col-lg-3 p-1">
  <div class="card" role="button" data-bs-toggle="modal" data-bs-target="#modal-<%= product.checkout_code %>" data-empty-state-target="item">
    <img class="img-fluid" src="https://vumbnail.com/<%= product.vimeo_url.split('/').last %>.jpg">
    <div class="card-body">
      <h5 class="card-title text-center mb-0"><%= product.name %></h5>
    </div>
  </div>

  <div class="modal fade" id="modal-<%= product.checkout_code %>" data-product="<%= product.checkout_code %>" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= product.name %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% video = Nokogiri::HTML product.preview_html.html_safe %>
          <% width = video.at('iframe')['width'] %>
          <% height = video.at('iframe')['height'] %>
          <% ratio = width == height ? '1x1' : '16x9' %>

          <div class="ratio ratio-<%= ratio %>">
            <%= product.preview_html.html_safe %>
          </div>

          <br>

          <p class="mb-0"><%= product.description %></p>
        </div>
        <div class="modal-footer">
          <%= link_to 'Customizar', new_order_path(params: { product_id: product.id }), class: 'btn btn-outline-primary btn-lg w-100' %>
        </div>
      </div>
    </div>
  </div>

  <script>
      document.getElementById('modal-<%= product.checkout_code %>').addEventListener('hidden.bs.modal', (event) => {
              const iframe = document.getElementById('preview-<%= product.checkout_code %>')

              iframe.src = iframe.src
          }
      )
  </script>
</div>
