<div class="min-vh-100 d-flex flex-column">
  <%= render 'application/header' %>

  <main class="container p-4 flex-grow-1">
    <% if @category %>
      <h1 class="text-center mb-2"><%= @category.name %></h1>
    <% else %>
      <h1 class="text-center mb-2">Todas las plantillas</h1>
    <% end %>

    <nav class="nav d-flex justify-content-center py-2 mb-2">
      <%= link_to 'Todas las plantillas', products_path, class: 'text-decoration-none mx-2' %>

      <% Category.all.each do |category| %>
        <%= link_to category.name, products_path(category_id: category.id), class: 'text-decoration-none mx-2' %>
      <% end %>
    </nav>

    <% if @products.empty? %>
      <div class="alert alert-primary mb-0">
        No hay plantillas disponibles.
      </div>
    <% else %>
      <div class="grid row g-2" data-masonry='{"percentPosition": true}'>
        <% @products.each do |product| %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div
              class="card"
              role="button"
              data-bs-toggle="modal"
              data-bs-target="#modal-<%= product.checkout_code %>"
            >
              <img class="img-fluid" src="https://vumbnail.com/<%= product.vimeo_url.split('/').last %>.jpg">
              <div class="card-body">
                <h5 class="card-title text-center mb-0"><%= product.name %></h5>
              </div>
            </div>

            <div class="modal fade" id="modal-<%= product.checkout_code %>" data-product="<%= product.checkout_code %>" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"><%= product.name %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <% video = Nokogiri::HTML product.preview_html.html_safe %>
                    <% width = video.at('iframe')['width'] %>
                    <% height = video.at('iframe')['height'] %>
                    <% ratio = width == height ? '1x1' : '16x9' %>

                    <div class="ratio ratio-<%= ratio %>">
                      <%= product.preview_html.html_safe %>
                    </div>

                    <br>

                    <p><%= product.description %></p>
                  </div>
                  <div class="modal-footer">
                    <%= link_to 'Customizar', new_order_path(params: { product_id: product.id }), class: 'btn btn-outline-primary btn-lg w-100' %>
                  </div>
                </div>
              </div>
            </div>
            <script>
                document.getElementById('modal-<%= product.checkout_code %>').addEventListener('hidden.bs.modal', (event) => {
                        const iframe = document.getElementById('preview-<%= product.checkout_code %>')

                        iframe.src = iframe.src
                    }
                )
            </script>
          </div>
        <% end %>
      </div>
    <% end %>
  </main>

  <%= render 'application/footer' %>
</div>

<script>
    setTimeout(function () {
        var msnry = new Masonry('.grid');
        msnry.layout();
    }, 100);

    setTimeout(function () {
        var msnry = new Masonry('.grid');
        msnry.layout();
    }, 300);

    setTimeout(function () {
        var msnry = new Masonry('.grid');
        msnry.layout();
    }, 1000);

    setTimeout(function () {
        var msnry = new Masonry('.grid');
        msnry.layout();
    }, 2500);

    setTimeout(function () {
        var msnry = new Masonry('.grid');
        msnry.layout();
    }, 5000);
</script>