<% content_for(:body_attributes) do %>
  data-turbo="false"
<% end %>

<div class="min-vh-100 d-flex flex-column">
  <%= render 'application/header' %>

  <main class=" flex-grow-1" style="background-image: url(<%= image_path "bg2.svg"%>); background-position: repeat-y; background-size: cover;">
  <div class='container py-5'>
    <div class='card'>
      <nav class="nav d-flex justify-content-center py-2">
        <%= link_to 'Todas las plantillas', products_path, class: 'text-decoration-none mx-2 text-muted' %>
        <% Category.all.each do |category| %>
          <%= link_to category.name, products_path(category_id: category.id), class: 'text-decoration-none mx-2 text-muted' %>
        <% end %>
      </nav>
    </div>

    <div data-controller="empty-state">
      <div data-empty-state-target="emptyState" class='d-flex justify-content-center align-items-center p-5'>
        <h6>No hay plantillas disponibles.</h6>
      </div>

      <div id="all_products" class="row" data-controller="masonry">
        <%= render partial: 'products/product', collection: @products %>
      </div>
    </div>
  </div>
  </main>

  <%= render 'application/footer' %>
</div>